* {
    margin:0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    font-family: 'Delicious Handrawn', cursive;
    background-color: #c2a3b7;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card {
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s;
    transform-style: preserve-3d;


}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(170,151,151,0.55), rgba(246,224,224,0.55)), url("images/katie-moum-7XGtYefMXiQ-unsplash.jpg");
    box-sizing: border-box;
    padding: 55px;
    backface-visibility: hidden;
}
.card-back{
    transform: rotateY(180deg);
}
.card h2{
    font-weight: normal;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
}
.input-box{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: white;
    font-size: 14px;
}
::placeholder{
    color: white;
    font-size: 14px;
}
input:hover{
    background: #cac1ca;
}
button:hover{
    background: #cac1ca;
}
button{
    width: 100%;
    background: transparent;
    border: 1px solid white;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 14px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: white;
    cursor: pointer;
}
.submit-btn{
    position: relative;
}
.submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    right: -1px;
    top: -1px;
}
span{
    font-size: 13px;
    margin-left: 10px;
}
.card .btn{
    margin-top: 70px;
}
.card a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
    text-transform: capitalize;
}


/* Small screens (mobile) */
@media only screen and (max-width: 768px) {
  /* Adjust the size of the container and the font-size of the form elements */
  .container {
    max-width: 80%;
    margin: auto;
  }
  form {
    font-size: 14px;
  }
}
